<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taikang.jkx.mapper.FilergbsMapper">
  <resultMap id="BaseResultMap" type="com.taikang.jkx.model.Filergbs">
    <id column="fileName" jdbcType="VARCHAR" property="filename" />
    <result column="r" jdbcType="INTEGER" property="r" />
    <result column="g" jdbcType="INTEGER" property="g" />
    <result column="b" jdbcType="INTEGER" property="b" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fileName, r, g, b
  </sql>
  <select id="selectByExample" parameterType="com.taikang.jkx.model.FilergbsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from filergbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from filergbs
    where fileName = #{filename,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from filergbs
    where fileName = #{filename,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.taikang.jkx.model.FilergbsExample">
    delete from filergbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taikang.jkx.model.Filergbs">
    insert into filergbs (fileName, r, g, 
      b)
    values (#{filename,jdbcType=VARCHAR}, #{r,jdbcType=INTEGER}, #{g,jdbcType=INTEGER}, 
      #{b,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.taikang.jkx.model.Filergbs">
    insert into filergbs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filename != null">
        fileName,
      </if>
      <if test="r != null">
        r,
      </if>
      <if test="g != null">
        g,
      </if>
      <if test="b != null">
        b,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        #{r,jdbcType=INTEGER},
      </if>
      <if test="g != null">
        #{g,jdbcType=INTEGER},
      </if>
      <if test="b != null">
        #{b,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taikang.jkx.model.FilergbsExample" resultType="java.lang.Long">
    select count(*) from filergbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update filergbs
    <set>
      <if test="record.filename != null">
        fileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.r != null">
        r = #{record.r,jdbcType=INTEGER},
      </if>
      <if test="record.g != null">
        g = #{record.g,jdbcType=INTEGER},
      </if>
      <if test="record.b != null">
        b = #{record.b,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update filergbs
    set fileName = #{record.filename,jdbcType=VARCHAR},
      r = #{record.r,jdbcType=INTEGER},
      g = #{record.g,jdbcType=INTEGER},
      b = #{record.b,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taikang.jkx.model.Filergbs">
    update filergbs
    <set>
      <if test="r != null">
        r = #{r,jdbcType=INTEGER},
      </if>
      <if test="g != null">
        g = #{g,jdbcType=INTEGER},
      </if>
      <if test="b != null">
        b = #{b,jdbcType=INTEGER},
      </if>
    </set>
    where fileName = #{filename,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taikang.jkx.model.Filergbs">
    update filergbs
    set r = #{r,jdbcType=INTEGER},
      g = #{g,jdbcType=INTEGER},
      b = #{b,jdbcType=INTEGER}
    where fileName = #{filename,jdbcType=VARCHAR}
  </update>
</mapper>